@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

// Global styles
@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;

// Grids (choose one)
@include foundation-xy-grid-classes;
@include foundation-grid;
@include foundation-flex-grid;

// Generic components
@include foundation-button;
@include foundation-button-group;
@include foundation-close-button;
@include foundation-label;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-switch;
@include foundation-table;
// Basic components
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-callout;
@include foundation-card;
@include foundation-dropdown;
@include foundation-pagination;
@include foundation-tooltip;

// Containers
@include foundation-accordion;
@include foundation-media-object;
@include foundation-orbit;
@include foundation-responsive-embed;
@include foundation-tabs;
@include foundation-thumbnail;
// Menu-based containers
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-accordion-menu;
@include foundation-drilldown-menu;
@include foundation-dropdown-menu;

// Layout components
@include foundation-off-canvas;
@include foundation-reveal;
@include foundation-sticky;
@include foundation-title-bar;
@include foundation-top-bar;

// Helpers
@include foundation-float-classes;
@include foundation-flex-classes;
@include foundation-visibility-classes;
// @include foundation-prototype-classes;

// Motion UI
@include motion-ui-transitions;
@include motion-ui-animations;


body {
	margin: 0;
	background: #232326;
}

.grid-container {
	max-width: 100%;
	padding-left:0;
	padding-right: 0;
	overflow: hidden;
}

.top-info {
	background: #006891;
}

.top {
	color: #fff;
	background: #006891;
	max-width: 100%;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	text-align: center;

	h1 {
		font-size: 28px;
		font-family: Verdana, sans serif;
		font-weight: bold;
	}

	p {
		font-size: 22px;
		font-family: Verdana, sans serif;
		//font-weight: bold;
	}
}

.hero {
	background: #000;
	background-image: url("/assets/img/landscape.jpeg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 1000px;
	padding-left: 40px;
	margin-left: 30px;
	//margin-right: 0;
	//overflow:hidden;
}

.mcontent {
	padding-top: 50px;
	//overflow: hidden;
}

.mvideo {
	padding-top: 30px;
	color: #fff;
	//background: #303030;
	width: 640px;
	height: 450px;
	text-align: center;
	//overflow: hidden;
}

.infobox {
	background: #fff;
	//border-radius: 10px 10px;
	border: 1px solid #000000;
	max-width: 650px;
	//height: 300px;

	.infoheader {
		text-align: center;
		margin-top: 10px;
		h3 {
			color: #ff0000;
			//font-family: Tahoma;
		}
	}
}

.lftlst {
	font-size: 18px;
	font-weight: bold;
	padding: 10px;
	text-align: center;
}

.rgtlst {
	font-size: 18px;
	font-weight: bold;
	padding: 10px;
	text-align: center;
}

.cta-box {
	margin-top: 20px;
	//margin-left: 40px;
	max-width: 640px;
}

.infoftr {
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}

.cta {
	font-size: 28px;
	font-weight: bold;
	text-align: center;
	border-radius: 5px 5px;
	color: #ff0000;
	background: yellow;
}

.mid-text {
	background: #006891;
	color: #ff0000;
	text-align: center;
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 10px;

		.mid-top {
			color: #fff;
			font-size: 24px;
		}

		.mid-bottom {
			color: #fff;
			font-size: 30px;
			font-weight: bold;
		}
}

.four-up-feature {
	color: #fff;
	background: #232326;
  text-align: center;

  .four-up-feature-header {
    margin-bottom: 3rem;
    display: flex;

		h2 {
			font-weight: bold;
		}

  }

  .four-up-feature-image {
    margin-bottom: 2rem;
  }

  .four-up-feature-text {
    margin-bottom: 2rem;
  }
}
