<div class="grid-x">
  <div class="large-12 cell">
    <section class="four-up-feature">
      <div class="row four-up-feature-header align-center">
        <div class="medium-8 cell">
          <h2>In Addition to the Battery Reconditioning guides, You Also Get...</h2>
        </div>
      </div>
      <div class="large-12 cell">
      <div class="row align-spaced">
        <div class="small-10 medium-3 cell">
          <img class="four-up-feature-image" src="https://placehold.it/75" alt="icon">
          <h4>Lifetime Support</h4>
          <p class="four-up-feature-text">Get lifetime support from Tom Ericson, Frank Thompson, and our other battery reconditioning experts. Receive all the help you need to bring your batteries back to life again!</p>
        </div>
        <div class="small-10 medium-3 cell">
          <img class="four-up-feature-image" src="https://placehold.it/75" alt="icon">
          <h4>Lifetime Updates</h4>
          <p class="four-up-feature-text">Receive lifetime updates on the battery reconditioning guides. Plus, get all future releases of new battery reconditioning guides (for free!).</p>
        </div>
        <div class="small-10 medium-3 cell">
          <img class="four-up-feature-image" src="https://placehold.it/75" alt="icon">
          <h4>Mobile Friendly</h4>
          <p class="four-up-feature-text">You will be able to view our battery reconditioning guides on your smart phone or tablet. Now you can take our guides with you anywhere you go!</p>
        </div>
        <div class="small-10 medium-3 cell">
          <img class="four-up-feature-image" src="https://placehold.it/75" alt="icon">
          <h4>Information Vault</h4>
          <p class="four-up-feature-text">Free access to our battery reconditioning information vault with free articles, guides and downloads. The information in this vault will turn you into a “battery expert”!</p>
        </div>
      </div>
      </div>
    </section>
    <div class="cell large-8 large-offset-3 small-12">
      <div class="cta-box">
        <div class="cta">
          <a href="#">SHOW ME HOW!</a>
        </div>
      </div>
    </div>
  </div>
</div>
