<div class="grid-x padding-x">
  <div class="cell large-12">
    <div class="hero">

      <div class="cell large-8 large-offset-3 small-12">
        <div class="mcontent">
          <div class="mvideo">
            <iframe src="https://player.vimeo.com/video/325587147" width="650" height="370" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <div class="cell large-8 large-offset-3">
        <div class="infobox">
	  <div class="cell large-12">
		<!-- Place header in here -->
	  </div>
        </div>
      </div>
      </div>
    </div>
  </div>
