<div class="grid-x">
  <div class="cell large-12">
    <div class="hero">
      <div class="cell large-8 large-offset-3 small-12">
        <div class="mcontent">
          <div class="mvideo">
            <iframe src="https://player.vimeo.com/video/325587147" width="640" height="370" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <div class="cell large-8 large-offset-3 small-12">
        <div class="infobox">
      	  <div class="cell large-12">
            <div class="infoheader">
              <h3>HERE IS WHAT YOU CAN LEARN</h3>
            </div>
            <div class="cell large -12">
              <div class="grid-x">
                <div class="cell large-6 small-12">
                  <div class="lftlst">
                    <p>Bring old batteries back to life again
                  </div>
                </div>
                <div class="cell large-6 small-12">
                  <div class="rgtlst">
                    Save Money And Buy Less New Batteries
                  </div>
                </div>
              </div>
              <div class="grid-x">
                <div class="cell large-6 small-12">
                  <div class="lftlst">
                    <p>People all over the world are already using this Battery Reconditioning Method</p>
                  </div>
                </div>
                <div class="cell large-6 small-12">
                  <div class="rgtlst">
                    <p>Learn how to purchase old batteries, recondition them, and sell them for a nice profit</p>
                  </div>
                </div>
              </div>
              <div class="cell large-12">
                <div class="infoftr">
                  <p>Save Money and Help Save The Environment</p>
                </div>
              </div>
            </div>
      	  </div>
        </div>
      </div>
      <div class="cell large-8 large-offset-3 small-12">
        <div class="cta-box">
          <div class="cta">
            <p>Hello</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
